/* Reset de margens e preenchimentos padrões para evitar problemas de layout */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #333; /* Cor de fundo leve */
  overflow: auto; /* Permite rolagem se o conteúdo transbordar */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

* {
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
  width: 100vw; /* Garante que o container ocupe toda a largura da tela */
  margin: 0; /* Remove margens padrão do body */
  padding: 20px; /* Ajuste conforme necessário */
  background: #333; /* Cor de fundo do app-container */
  color: #ffffff; /* Cor do texto para contraste */
  box-sizing: border-box; /* Inclui padding e border no cálculo de largura e altura */
}

.content-container {
  flex: 1; /* Faz com que este container ocupe o espaço restante disponível */
  padding: 20px; /* Ajuste conforme necessário */
  padding-bottom: 60px; /* Espaço para o footer */
  background: #333; /* Cor de fundo do content-container */
  color: #000000; /* Cor do texto para contraste */
}
