/* src/pages/Comodato.css */

.comodato-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a página ocupe pelo menos a altura total da viewport */
    padding: 20px;
    background-color: #333;
    font-family: Arial, sans-serif;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    color: #000000; /* Ajusta a cor do texto para contraste com o fundo escuro */
  }
  

.comodato-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin: 0 auto; /* Centraliza o conteúdo */
  flex: 1; /* Permite que o conteúdo principal expanda para preencher o espaço */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.agreement {
  margin-top: 20px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Estilo do footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Garante que o footer fique na parte inferior da página */
  max-height: 100px; /* Define uma altura máxima para o footer */
  overflow: hidden; /* Garante que o conteúdo excedente seja oculto */
}

.footer p {
  margin: 0;
  padding: 0;
}
