body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.comodato-container {
  width: 650px;
  margin: 20px auto;
  padding: 10px; /* Adjusted padding for better layout */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  font-size: 1.4em; /* Consolidate font sizes for headings */
  margin-bottom: 5px; /* Reduce margin to create more space for the content */
}

.form-group, label, input[type="text"], .agreement, .submit-button {
  margin-bottom: 5px; /* Consolidate margin styles */
  padding: 5px; /* Consolidate padding styles */
}

.comodato-content {
  font-size: 0.9em; /* Reduce font size to make the content more compact */
  line-height: 1.2; /* Reduce line height to make the content more dense */
}

/* Estilos para telas com largura mínima de 1200px */
@media only screen and (max-width: 800px) {
  .comodato-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  h1, h2 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
  .submit-button {
    padding: 10px 15px; /* Adjust padding for smaller screens */
  }
}