.container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.estoque-container h1 {
  color: #333; /* Cor do texto do h1 */
  margin-bottom: 10px; /* Espaçamento no final do h1 */
}

.form-buttons {
  display: flex; /* Usar flexbox para alinhar os botões */
  gap: 8px; /* Espaçamento entre os botões */
  margin-bottom: 15px; /* Espaçamento abaixo dos botões */
}

.button-import,
.button-export,
.button-add,
.button-edit,
.button-collapsible,
.button-submit,
.button-cancel {
  background-color: #007bff; /* Cor padrão */
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button-import {
  background-color: #28a745;
}

.button-export {
  background-color: #ffc107;
}

.button-edit {
  background-color: #17a2b8;
}

.button-cancel {
  background-color: #dc3545;
}

.button-collapsible:hover,
.button-import:hover,
.button-export:hover,
.button-edit:hover,
.button-cancel:hover {
  opacity: 0.9; /* Efeito de hover mais sutil */
}

.table-container {
  margin-top: 15px;
  background-color: #f9f9f9; /* Fundo mais claro */
  border-radius: 4px; /* Bordas arredondadas */
  overflow: hidden; /* Para evitar bordas visíveis */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Borda sutil */
}

th {
  background-color: #f2f2f2;
}

.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form-modal form {
  display: flex;
  flex-wrap: wrap;
}

label {
  flex: 1;
  min-width: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: calc(100% - 22px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.collapsible-content {
  padding: 10px;
  background: #e9ecef; /* Fundo mais suave */
  border-radius: 4px;
}

.add-edit-form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Branco para o fundo do modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%;
  max-width: 900px; /* Ajuste o tamanho conforme necessário */
  display: flex;
  flex-direction: column;
}

/* Estilo para o fundo escurecido atrás do modal */
.add-edit-form-modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Fundo escurecido */
  z-index: -1;
}

/* Estilo para o formulário dentro do modal */
.add-edit-form-modal form {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 15px; /* Espaçamento entre os campos */
  width: 100%;
  max-width: 100%;
}

/* Estilo para os labels */
.add-edit-form-modal label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilo para os inputs */
.add-edit-form-modal input[type="text"],
.add-edit-form-modal input[type="number"],
.add-edit-form-modal input[type="date"],
.add-edit-form-modal input[type="file"],
.add-edit-form-modal select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Ocupa 100% da largura da coluna */
  box-sizing: border-box; /* Inclui padding e border no width total */
}

/* Estilo para o botão de enviar */
.add-edit-form-modal button.submit {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-edit-form-modal button.submit:hover {
  background-color: #218838;
}

/* Estilo para o botão de cancelar */
.add-edit-form-modal button.cancel {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-edit-form-modal button.cancel:hover {
  background-color: #c82333;
}

/* Container para os botões dentro do modal */
.add-edit-form-modal .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Estilo para o modal de importação CSV */
.import-csv-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333; /* Cor de fundo escura */
  padding: 20px;
  border: 1px solid #444; /* Borda de leve preta */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

/* Estilo para o formulário dentro do modal */
.import-csv-modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

/* Estilo para os inputs */
.import-csv-modal input[type="file"] {
  padding: 10px; /* Espaçamento interno do input */
  font-size: 16px; /* Tamanho da fonte do input */
  border: 1px solid #ccc; /* Borda do input */
  border-radius: 6px; /* Borda arredondada do input */
}

/* Estilo para os botões */
.import-csv-modal button {
  padding: 10px 15px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  color: #fff; /* Cor do texto do botão */
  background-color: #4CAF50; /* Cor de fundo do botão */
  border: none; /* Borda do botão */
  border-radius: 6px; /* Borda arredondada do botão */
  cursor: pointer; /* Cursor do botão */
  transition: background-color 0.3s; /* Transição do botão */
  margin: 10px; /* Espaçamento do botão */
  display: inline-block; /* Faz com que os botões fiquem um do lado do outro */
}

.import-csv-modal button:hover {
  background-color: #0056b3;
}

/* Estilo específico para o botão de cancelar */
.import-csv-modal button.cancel {
  background-color: #6c757d;
}

.import-csv-modal button.cancel:hover {
  background-color: #5a6268;
}

/* Estilo para o botão de baixar exemplo CSV */
.import-csv-modal button.download-example {
  background-color: #28a745;
  display: block; /* Faz com que o botão fique em uma linha separada */
  margin-top: 20px; /* Adiciona um espaçamento entre o botão e os outros botões */
}

.import-csv-modal button.download-example:hover {
  background-color: #218838;
}

.search-container {
  margin-bottom: 10px; /* Reduzido a margem inferior */
}

.search-container label {
  font-weight:bold;
  font-size: 16px;
}

.search-container input {
  margin-left: 5px; /* Reduzido o espaço à esquerda do input */
  padding: 3px; /* Reduzido o preenchimento interno */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.export-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333; /* Cor de fundo escura */
  padding: 20px;
  border: 1px solid #444; /* Borda de leve preta */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.export-popup button {
  padding: 10px 15px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  color: #fff; /* Cor do texto do botão */
  background-color: #4CAF50; /* Cor de fundo do botão */
  border: none; /* Borda do botão */
  border-radius: 6px; /* Borda arredondada do botão */
  cursor: pointer; /* Cursor do botão */
  transition: background-color 0.3s; /* Transição do botão */
  margin: 10px; /* Espaçamento do botão */
  display: inline-block; /* Faz com que os botões fiquem um do lado do outro */
}

.export-popup input[type="file"] {
  padding: 10px; /* Espaçamento interno do input */
  font-size: 16px; /* Tamanho da fonte do input */
  border: 1px solid #ccc; /* Borda do input */
  border-radius: 6px; /* Borda arredondada do input */
}

.export-popup h2 {
  color: #fff; /* Cor do texto do h2 */
}

.pdf-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.pdf-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}